logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
.eslintcache

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
package-lock.json
.package-lock.json
# app/middleware/response.ts
# app/module/user/controller/user.ts
# app/module/user/service/user.ts